*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background{
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #FFF8E8, #F7EED3,  #A1D6B2 );
  /* background-size: 300% 300%; */
  animation: color 12s ease-in-out infinite;
}

@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.main{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2em;
}
.temperature{
  text-align: center;
}
.sen-temperature {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}