*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background{
  height: 100vh;
  width: 100%;
  background-image: url(/images/mainBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
background-position: center;
}

.main{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2em;
}

.nav-link{
  font-weight: 600;
}